*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px;
    background-color: grey;

}
img{
    width: 200px;
    border-radius: 10px;
}
input{
    background-color: deeppink;
    color :white;
    padding: 0 25px;


}